# Banco de dados
DB_URL=
DB_USER=
DB_PASSWORD=

# Autenticação
JWT_SECRET=

# Admin padrão
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# Backup automático
BACKUP_SECRET=

# E-mail
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_REMETENTE=

# URL do frontend
APP_URL=